Question:
Based on the lecture and the tests you learnt, perform the appropriate test according to you
on the dataset of Company XYZ and give a short inference based on the p value and
hypothesis.

In [26]:
import pandas as pd

In [2]:
from google.colab import files
data_to_load = files.upload()

Saving general_data.csv to general_data.csv

In [3]:
import io
df = pd.read_csv(io.BytesIO(data_to_load['general_data.csv']))

In [4]:
df.head()

   Age Attrition  ... YearsSinceLastPromotion YearsWithCurrManager
0   51        No  ...                       0                    0
1   31       Yes  ...                       1                    4
2   32        No  ...                       0                    3
3   38        No  ...                       7                    5
4   32        No  ...                       0                    4

[5 rows x 24 columns]

In [5]:
Attrition = {'No': 0,
             'Yes' : 1}

df.replace (Attrition, inplace=True)
df.head()

   Age  Attrition  ... YearsSinceLastPromotion YearsWithCurrManager
0   51          0  ...                       0                    0
1   31          1  ...                       1                    4
2   32          0  ...                       0                    3
3   38          0  ...                       7                    5
4   32          0  ...                       0                    4

[5 rows x 24 columns]

In [13]:
df1= df[df['Attrition']==1]
df0= df[df['Attrition']==0]

### **Mann Whitney Test**

**Attrition and Distance from Home**

In [14]:
from scipy.stats import mannwhitneyu

stats, p = mannwhitneyu(df1.DistanceFromHome, df0.DistanceFromHome)

print (stats,p)

1312110.0 0.4629185205822659

H0: There is no significant differences in the Distance From Home between those who left and those who stayed in the company.

Ha: There is significant differences in the Distance From Home between those who left and those who stayed in the company.

Since p > 0.05, null hypothesis is accepted.

**Attrition and Monthly Income**

In [15]:
stats, p = mannwhitneyu(df1.MonthlyIncome, df0.MonthlyIncome)

print (stats,p)

1264900.5 0.053577283839938566

H0: There is no significant differences in the Monthly Income between those who left and those who stayed in the company.

Ha: There is significant differences in the Monthly Income between those who left and those who stayed in the company.

Since p > 0.05, null hypothesis is accepted.

**Attrition and Percentage of Salary Hike**

In [16]:
stats, p = mannwhitneyu(df1.PercentSalaryHike, df0.PercentSalaryHike)

print (stats,p)

1250640.0 0.018660129917539733

H0: There is no significant differences in the percentage of salary hike between those who left and those who stayed in the company.

Ha: There is significant differences in the percentage of salary hike between those who left and those who stayed in the company.

Since p < 0.05, alternative hypothesis is accepted.

### **2 Sample Independent T Test**

**Attrition and Distance from Home**

In [17]:
from scipy.stats import ttest_ind

stats, p = ttest_ind(df1.DistanceFromHome, df0.DistanceFromHome)

print (stats,p)

-0.6460416038042738 0.518286042805572

H0: There is no significant differences in the Distance From Home between those who left and those who stayed in the company.

Ha: There is significant differences in the Distance From Home between those who left and those who stayed in the company.

Since p > 0.05, null hypothesis is accepted.

**Attrition and Monthly Income**

In [18]:
stats, p = ttest_ind(df1.MonthlyIncome, df0.MonthlyIncome)

print (stats,p)

-2.0708863763619316 0.03842748490605113

H0: There is no significant differences in the Monthly Income between those who left and those who stayed in the company.

Ha: There is significant differences in the Monthly Income between those who left and those who stayed in the company.

Since p < 0.05, alternative hypothesis is accepted.

**Attrition and Percentage of Salary Hike**

In [19]:
stats, p = ttest_ind(df1.PercentSalaryHike, df0.PercentSalaryHike)

print (stats,p)

2.1610730224641777 0.03074338643339195

H0: There is no significant differences in the percentage of salary hike between those who left and those who stayed in the company.

Ha: There is significant differences in the percentage of salary hike between those who left and those who stayed in the company.

Since p < 0.05, alternative hypothesis is accepted.

###**Chi Square Tests**

In [25]:
#To convert MaritalStatus column to numerical values

MaritalStatus = {'Married': 0,
             'Single' : 1,
             'Divorced' : 2}

df.replace (MaritalStatus, inplace=True)

In [23]:
from scipy.stats import chi2_contingency
chitable = pd.crosstab (df.Attrition, df.MaritalStatus)

print (chitable)

MaritalStatus     0     1    2
Attrition
0              1767  1050  882
1               252   360   99

In [24]:
stats, p, dof, expeted = chi2_contingency (chitable)

print (stats, p)

138.4910296225461 8.45385940605774e-31

H0: There is no dependency between Attrition and Marital Status.

Ha: There is dependency between Attrition and Marital Status.

Since p < 0.05, alternative hypothesis is accepted.