### Question 1
Assuming that we have some email addresses in the "username@companyname.com" format, please write program
to print the company name of a given email address. Both user names and company names are composed of letters
only.

In [ ]:
email = 'john@google.com'
print (email.split('@')[1].split('.')[0]) 

"""First we split at the '@' and then, 
using the 2nd element, we split again at the '.'. 
The company's name will be in the 1st element after the split.

google

### Question 2 

Write a program that accepts a comma-separated sequence of words as input and prints the words in a comma
separated sequence after sorting them alphabetically

In [ ]:
inputs = 'without,hello,bag,world'
splited = inputs.split(',')
sort =  (sorted(splited))
print(','.join(sort))

bag,hello,without,world

### Question 3:
Create your own Jupyter Notebook for Sets

A set is an unordered collection of unique and immutable items. 
We can add or remove items from it, thus a set is mutable.

You can initialize a set by placing the items inside curly braces or by using the built-in set() function.

In [46]:
a = {1,2,3,4,5}
print(type(a)) #execute to see the type of data

b = set()
print (type(b))

<class 'set'>
<class 'set'>

As stated in the beginning, the elements of a set cannot be a mutable object. Thus, it cannot be a list, sets or dictionaries. 

Integers, floats, strings and tuple are allowed.

In [25]:
set_allowed = {1, 3.45, 'Jeff', ('This','is','a','tuple')}

set_not_allowed = {['This','is','list'],{'This','is','sets'},{1:'This',2:'is',3:'distionary'}} 

#execute and see that an error will be thrown for set_not_allowed

Sets are mutable. 
But, they are unordered and so, indexing has no meaning. Thus, let's forget about accessing an element in sets using bracket index or slicing.

To add a single element into a set, use add() method.
To do the same for multiple elements, use update() method.

Note that duplicate elements will be avoided in a sets.

In [34]:
set_a = {1, 4}
print(set_a)

set_a.add(2)
print(set_a)

set_a.update([2, 3, 6])
print(set_a)

set_a.update([4, 7], {1, 6, 10})
print(set_a)

{1, 4}
{1, 2, 4}
{1, 2, 3, 4, 6}
{1, 2, 3, 4, 6, 7, 10}

To remove an element form the sets, use discard() or remove() method.

In [35]:
print (set_a)

set_a.discard(7)
print (set_a)

set_a.remove(2)
print(set_a)

{1, 2, 3, 4, 6, 7, 10}
{1, 2, 3, 4, 6, 10}
{1, 3, 4, 6, 10}

To remove all items in a set, use clear() method.

In [36]:
set_a.clear()
print(set_a)

set()

### Question 4:
Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no duplicates.

In [11]:
input = '1 2 4 6 3 7 8'
splitted = input.split(' ')
numbers = map(int,splitted)
numbers_list = (sorted(list(numbers)))

for num in numbers_list:
  if (num+1) not in numbers_list:
    print (num+1)
    break

5

### Question 5
With a given list L, write a program to print this list L after removing all duplicate values with original order reserved.

In [43]:
input = '12 24 35 24 88 120 155 88 120 155'
splitted = input.split(' ')
numbers = list(map(int,splitted))

numbers = list(dict.fromkeys(numbers))
splitted = list(map(str,numbers))

input = ' '.join(splitted)
print(input)

12 24 35 88 120 155