Question 1 :
Research on whether addition, subtraction, multiplication, division, floor division and modulo
operations be performed on complex numbers. Based on your study, implement a Python
program to demonstrate these operations.

In [ ]:
num1 = 5+7j
num2 = 2+2j

add = num1+num2
sub = num1-num2
mul = num1*num2
div = num1/num2
# floor_div = num1//num2
# mod = num1%num2

print (add)
print (sub)
print (mul)
print (div)
# print (floor_div)
# print (mod)

"""Floor division and modulo operation is
not possible using complex numbers.
These operations will return an error"""

(7+9j)
(3+5j)
(-4+24j)
(3+0.5j)

**Question 2 :
Research on range() functions and its parameters. Create a markdown cell and write in your own
words (no copy-paste from google please) what you understand about it. Implement a small
program of your choice on the same.**

range () function will give us a sequence of numbers based on the parameters passed to the function.

It has three parameters, namely start, stop and step.

***Start*** parameter will determine the starting values of the returned sequence. It's 0 by default.

***Stop*** parameter will determine the ending value of the sequence (will be excluded in the sequence). This value must be given by the user.

***Step*** parameter will give the increment value of the sequence. This is optional.

In [ ]:
a = range (10) #Start value is 0 by default, Stop value is given as 10

b = range (10,20) #Start value is given as 10, Stop value is given as 20

c = range (50,100,2) #Start value is given as 50, Stop value is given as 100, and Step is given as 2

print('Values in a')
for n in a:
  print (n)

print('Values in b')
for n in b:
  print (n)

print('Values in c')
for n in c:
  print (n)

Values in a
0
1
2
3
4
5
6
7
8
9
Values in b
10
11
12
13
14
15
16
17
18
19
Values in c
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98

Question 3:
 Consider two numbers. Perform their subtraction and if the result of subtraction is greater than
25, print their multiplication result else print their division result.

In [ ]:
num1 = 100
num2 = 70

sub=num1-num2

if sub>25:
  print(num1*num2)
else:
  print(num1/num2)

7000

Question 4:
Consider a list of 10 elements of integer values. If the number in the list is divisible by 2, print the
result as "square of that number minus 2".

In [ ]:
values = [23,34,52,37,74,56,81,59,26,45]

for value in values:
  if value%2 == 0:
    print(value**2-2)

1154
2702
5474
3134
674

Question 5:
Consider a list of 10 elements. Print all the elements in the list which are greater than 7 when that
number is divided 2.

In [ ]:
numbers = [5,54,3,879,45,368,27,13,29,90]
for num in numbers:
  if num/2 > 7:
    print (num)

54
879
45
368
27
29
90